.content__box {
    color: white;
    text-align: left;
    width: 830px;
    height: 607px;
    margin-top: 8%;
    margin-right: auto;
    margin-left: 11%;
}

.content__title {
    font-family: Inter, sans-serif;
    font-size: 54px;
    font-weight: 900;
    text-align: left;
}

.content__text-item {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 90%;
}

.content__text-item-name {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin-right: 12%;
}

.content__text-item2 {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    margin-top: 5%;
    width: 87%;
}




.content__imageness {
    width: 1184px;
    height: 442px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(2, 2fr);
    grid-gap: 16px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
}




.content__cards {
    width: 987px;
    height: auto;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}

.content__card {
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 8%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.content__card-mxli {
    padding-top: 15%;
}

.content__card-titulo {
    font-size: 72px;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    
    padding-bottom: 2%;
}

.content__artistas {
    line-height: .5;
    margin: 0;
    margin-top: 19%;
    padding: 0;
}

.content__artistas-solo {
    color: gray;
    font-size: 12px;
    line-height: .2;
    margin: 0;
    padding: 0;
}

.content__imagen {
    margin: 0%;
    padding: 0%;
    width: 500px;
    height: 500px;
    opacity: 1;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);

}

.content__imagen:hover {
    opacity: 50%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.content__imagen_mxli {
    width: 465px;
    height: 465px;
    margin-top: 5%;
}

.content__descripcion {
    width: 487px;
    line-height: 1.6;
    height: 500px;
    overflow: visible;
}

.content__boton {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-top: 10%;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);

}

.content__boton:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    border: 1px solid black;
    opacity: 25%;
    cursor: pointer;
}


/* Medidas de pantalla media*/

@media screen and (max-width: 1024px) {
    .content__box {
        color: white;
        text-align: left;
        width: 720px;
        height: 573px;
        margin-top: 13%;
        object-fit: contain;
        margin-left: 3%;
    }

    .content__title {
        font-family: 'Inter', sans-serif;
        font-size: 45px;
        font-weight: 900;
        line-height: normal;
        text-align: left;
        width: 90%;
    }

    .content__text-item {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        width: 100%;
    }

    .content__text-item-name {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        text-align: right;
        margin-right: 2%;
    }

    .content__text-item2 {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
        text-align: left;
        margin-top: 5%;
        width: 100%;
    }




    .content__imageness {
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(4, 4fr);
        margin-top: 12%;
        margin-left: 2.5%;
        width: 720px;
        height: 1104px;
    }

    .imagenes__item {
        width: 352px;
        height: 264px;
    }




    .content__cards {
        width: 720px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .content__card {
        color: white;
        font-size: 16px;
        margin: 0;
        padding: 0;
        margin-top: 30%;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .content__card-mxli {
        margin-top: 55%;
    }

    .content__card-titulo {
        font-size: 42px;
        line-height: 1.1;
        width: 340px;
        margin: 0;
        padding: 0;
        padding-left: 1.5%;
        padding-bottom: 2%;
    }

    .content__artistas {
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }

    .content__imagen {
        margin: 0;
        padding: 0;
        width: 360px;
        height: 360px;
    }
    
    .content__imagen_mxli {
        width: 330px;
        height: 330px;
        margin-left: 3%;
        margin-top: 5%;
    }
    
    .content__descripcion {
        width: 352px;
        line-height: 1.6;
        height: 360px;
        overflow: visible;
    }

    .ciudades__item_mxli {
        margin-top: 55%;
    }
}




/*medidas para pantalla pequeña*/

@media screen and (max-width: 544px) {
    .html {
        max-width: 320px;
    }
    .content__box {
        color: white;
        text-align: left;
        width: 288px;
        height: 1033px;
        margin-top: 15%;
    }

    .content__title {
        font-family: Inter, sans-serif;
        font-size: 32px;
        font-weight: 900;
        text-align: left;
        width: 100%;
    }

    .content__text-item {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        width: 100%;
        margin-top: 15%;
    }

    .content__imageness {
        display: grid;
        grid-gap: 12px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 8fr);
        margin-top: 35%;
        margin-left: 2.5%;
        width: 288px;
        height: 1812px;
    }



    .content__cards {
        width: 300px;
        height: auto;
        margin: 0;
        padding: 0;
        margin-top: 145%;

    }
    
    .content__card {
        color: white;
        font-size: 16px;
        margin: 0;
        padding: 0;
        margin-top: 20%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .content__card-titulo {
        width: 288px;
        font-size: 32px;
        line-height: 1.1;
        margin: 0;
        padding: 0;
        padding-left: 1.5%;
    }
    
    .content__artistas {
        line-height: 1.2;
        width: 288px;
        margin: 0;
        margin-left: 4%;
        margin-top: 9%;
        padding: 0;
    }
    
    .content__imagen {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }
    
    .content__imagen_mxli {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    }
    
    .content__descripcion {
        width: 290px;
        line-height: 1.6;
        height: auto;
        margin: 0;
        padding: 0;
        margin-left: 4%;
    }
    
    .content__boton {
        width: 280px;
        height: 48px;
        color: white;
        border-radius: 4px;
        border: none;
        padding: 0;
        margin-left: 4%;
        margin-right: 0;
        margin-top: 5%;
    }
}